extends ../layout
block content 
    h1 New Stand 
    form(action="/stand", method="post") 
        label(for="name") Name 
        input#name(type="text", name="name")
        //-input(id="name", type="text", name="name")
        label(for="size") Size
        select#size(name="size") 
            option(value="small") Small
            option(value="medium") Medium 
            option(value="large") Large 
        button Submit