extends ../layout

block content 
    h1 Stands 
    a(href="/stand/new") New Stand
    section(class="stand-list")
        if stands
            each stand in stands 
                a(href=`/stand/${stand.stand_id}`)
                    include standCard
        else 
            p There is no stand available
        